<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.objc.simulator-trainer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sim-trainer</string>
			</array>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.objc.simulator-trainer.SimRuntimeHelper</key>
		<string>identifier "com.objc.simulator-trainer.SimRuntimeHelper" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: Ethan Arbuckle (MZMW94V83P)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
</dict>
</plist>
